/* From Uiverse.io by vinodjangid07 */ 
.bookmarkBtn {
    width: 115px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    flex-direction: row;
}
  
  .IconContainer {
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, rgb(255, 136, 255), rgb(172, 70, 255));
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: 0.3s;
  }

  .spiderContainer {
    background: linear-gradient(to bottom, #ff785a, #a54c38);
  }

  .ghostContainer {
    background: linear-gradient(to bottom, #5a6c97, #424f6f);
  }
  
  .pumpkinContainer {
    background: linear-gradient(to bottom, #f68632, #a14907);
  }

  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    transition-duration: 0.3s;
    font-size: 1.04em;
  }
  
  .bookmarkBtn:hover .IconContainer {
    width: 105px;
    transition-duration: 0.3s;
  }
  
  .bookmarkBtn:hover .text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: 0.3s;
  }
  
  .bookmarkBtn:hover {
    justify-content: center;
  }

  .bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: 0.3s;
  }
  
  .navbar {
    display: flex;  
    align-self: center;
    align-items: end;

}
  /* Need this for the spider layout and fonts */
body {
    display: flex;
    flex-direction: column-reverse;
    min-height: 90vh;
    min-width: 90vw;
    display: flex;
    overflow: hidden;
    font-family: "Mystery Quest", system-ui;
    font-weight: 400;
    font-style: normal;
}